.use-case__hero {
  padding-block: 80px;

  @media (max-width: 992px) {
    padding-block: 40px;
  }

  .container {
    max-width: 1400px;
    margin-inline: auto;
  }

  &-wrapper {
    > * {
      min-width: 0;
    }

    @media (max-width: 992px) {
      display: flex;
      flex-direction: column;

      .use-case__subtitle {
        order: 1;
      }

      .use-case__title {
        order: 2;
      }

      .use-case__hero-image {
        order: 3;
        margin-top: 1.5rem;
      }

      .use-case__hero-details {
        order: 4;
      }
    }

    @media (min-width: 993px) {
      display: grid;
      align-items: center;
      gap: 2rem;
      grid-template-columns: minmax(0, 740px) minmax(0, 580px);
      justify-content: space-between;
    }
  }

  &-content {
    min-width: 0;

    @media (max-width: 992px) {
      display: contents;
    }
  }

  &-image {
    width: 100%;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
      border-radius: 20px;
    }
  }

  .use-case__subtitle {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-size: 0.825rem;
    line-height: 1.4;
    letter-spacing: 0.1rem;
    margin-bottom: 1.5rem;
    font-weight: $font_weight_semibold;

    &::before {
      content: "";
      background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.33117 4.16663H12.9395C13.4312 4.16663 13.8978 4.38329 14.2228 4.76663L18.1395 9.46663C18.3978 9.77496 18.3978 10.225 18.1395 10.5333L14.2228 15.2333C13.9062 15.6166 13.4395 15.8333 12.9395 15.8333H3.33117C2.4145 15.8333 1.6645 15.0833 1.6645 14.1666V5.83329C1.6645 4.91663 2.4145 4.16663 3.33117 4.16663Z" fill="%23365DE6"/></svg>');
      height: 20px;
      width: 20px;
      display: inline-block;
      margin-right: 8px;
    }
  }

  .use-case__title {
    font-size: clamp(2rem, 5vw, $h3);
    line-height: 1;
    letter-spacing: -3%;
    color: $neutral-color-900;
    font-weight: $font_weight_regular;

    span {
      display: inline-block;
      color: $primary-color-500;
    }
  }

  .use-case__description {
    font-size: 1.125rem;
    line-height: 1.4;
    color: $neutral-color-600;
    margin-top: 1.5rem;
    font-weight: $font_weight_light;
  }

  .btn__block {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;

    .btn {
      min-width: 192px;
    }

    @media (max-width: 992px) {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      align-items: stretch;

      .btn {
        min-width: 0;
        width: 100%;
        height: 56px;
      }
    }
  }

  .use-case__social-proof {
    margin-top: 1.5rem;
  }

  .use-case__social-proof-item {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
      max-width: 112px;
      height: auto;
      width: 100%;
      max-height: 40px;
    }

    &-description {
      p {
        font-size: 0.875rem;
        line-height: 1.2;
        margin-bottom: 0;
      }
    }
  }
}
