.features-hero {
  padding-block: 80px 40px;

  @media (max-width: 992px) {
    padding-block: 40px;
  }

  &__text {
    @media (max-width: 992px) {
      width: 100%;
    }
  }

  &__subtitle {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.825rem;
    line-height: 1.4;
    letter-spacing: 10%;
    margin-bottom: 1.5rem;

    @media (max-width: 992px) {
      display: none;
    }

    &::before {
      content: "";
      background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.33117 4.16663H12.9395C13.4312 4.16663 13.8978 4.38329 14.2228 4.76663L18.1395 9.46663C18.3978 9.77496 18.3978 10.225 18.1395 10.5333L14.2228 15.2333C13.9062 15.6166 13.4395 15.8333 12.9395 15.8333H3.33117C2.4145 15.8333 1.6645 15.0833 1.6645 14.1666V5.83329C1.6645 4.91663 2.4145 4.16663 3.33117 4.16663Z" fill="%23365DE6"/></svg>');
      height: 20px;
      width: 20px;
      display: inline-block;
      margin-right: 8px;
    }
  }

  &__title {
    text-align: center;
    max-width: 720px;
    width: 100%;
    margin-inline: auto;
    font-size: clamp(2rem, 5vw, $h3);
    line-height: 1.125;
    letter-spacing: -3%;
    color: $neutral-color-900;
    font-weight: $font_weight_regular;

    span {
      display: inline-block;
      color: $primary-color-500;
    }
  }

  &__description {
    font-size: clamp(1.125rem, 2.2vw, 1.5rem);
    line-height: 1.4;
    color: $neutral-color-600;
    margin-top: 1.5rem;
    text-align: center;
    max-width: 765px;
    width: 100%;
    margin-inline: auto;
    font-weight: $font_weight_light;
  }

  .btn__block {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;

    .btn {
      min-width: 192px;

      @media (max-width: 992px) {
        min-width: 50%;
        height: 56px;
      }
    }
  }

  &__image {
    overflow: hidden;
    margin-top: 1.5rem;
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;

    @media (max-width: 992px) {
      max-width: 100%;
      aspect-ratio: 1 / 1;
      border-radius: 20px;
    }

    &:has(.features-hero__image-img--mobile) {
      @media (max-width: 767px) {
        width: min(370px, 100%);
        aspect-ratio: 1 / 1;
      }
    }
  }

  &__image-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 28px;
    display: block;

    &--desktop {
      .features-hero__image:has(.features-hero__image-img--mobile) & {
        @media (max-width: 767px) {
          display: none;
        }
      }
    }

    &--mobile {
      display: none;

      @media (max-width: 767px) {
        display: block;
      }
    }
  }
}
