$primary-color-50: #f2f5ff;
$primary-color-100: #e8edff;
$primary-color-150: #dbe3ff;
$primary-color-200: #ccd7ff;
$primary-color-300: #9db3ff;
$primary-color-400: #5c7ffb;
$primary-color-500: #365de6;
$primary-color-600: #233cc3;
$primary-color-700: #162ca4;
$primary-color-800: #0e1e74;
$primary-color-900: #061047;

$neutral-color-50: #f7f8f9;
$neutral-color-100: #ebecf0;
$neutral-color-200: #dcdde1;
$neutral-color-300: #c9cad1;
$neutral-color-400: #aeafba;
$neutral-color-500: #93949e;
$neutral-color-600: #71737e;
$neutral-color-700: #5b5c65;
$neutral-color-800: #3f4047;
$neutral-color-900: #202125;

$black: #000;
$white: #fff;
