$font_weight_light: 300;
$font_weight_regular: 400;
$font_weight_medium: 500;
$font_weight_semibold: 600;
$font_weight_bold: 700;

$h1: 5.5rem; // 80px
$h2: 3.375rem; // 54px
$h3: 3rem; // 48px
$h4: 32px; // 2rem
